[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = git@github.com:vertigoetrex/prezto
[submodule "emacs/emacs.d.symlink"]
	path = emacs/emacs.d.symlink
	url = git@github.com:VerTiGoEtrex/emacs.d.git
